[user]
	name = Tamlyn Rhodes
	email = tamlyn@tamlyn.org
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[push]
	default = current
[pull]
	ff = only
[core]
	autocrlf = input
	excludesfile = /Users/tamlyn/.gitignore
[alias]
	s = status
	lg = log --all --decorate --oneline --graph
	cleanup-master = !git branch --merged master | grep -v master | grep -v develop | xargs git branch -d
	cleanup-main = !git branch --merged main | grep -v main | grep -v develop | xargs git branch -d
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
